

@{
    ViewBag.Title = "ajaxGet";
}
<h2>ajaxGet</h2>

<table id="tblMenu">
    <tr style="background-color:#808080;color:white">
        <td>ID</td>
        <td>NAME</td>
        <td>PRICE</td>

    </tr>
</table>
@section scripts
    {
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/api/MenuApi",
                type: "Get",
                success: function (data) {
                    console.log("inside functon");
                    console.log(data);
                    for (var i = 0; i < data.length; i++) {
                        $("<tr><td>" + data[i].Id + "</td><td>" + data[i].FoodName + "</td><td>" + data[i].Price + "</td></tr>").appendTo("#tblMenu");
                    }
                },
                error: function (msg) { alert(msg); }
            });
        });
    </script>
}

