@model ApiDemo.Models.Menu
@{
    ViewBag.Title = "DataTableView";
}

<h2>DataTableView</h2>

<table id="Menu" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>

        </tr>
    </thead>
</table>

@section scripts
    {
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/api/MenuApi",
                method: "get",
                success: function (data) {
                    $("#Menu").DataTable({
                        data: data,
                        columns: [
                            {
                                data: "Id"
                            },

                            {
                                data: "FoodName"
                            },

                            {
                                data: "Price"
                            },


                        ]

                    });

                }

            });



            $("#Menu").on("click", ".js-delete", function () {
                var button = $(this);
                button.confirm("you want to delete", function (result) {
                    if (result) {
                        $.ajax({
                            url: "api/MenuApi" + button.attr("data-empId"),
                            method: "Delete",
                            success: function () {
                                table.row(button.parents("tr").remove().data());
                            }
                        });
                    }

                });
            });


        });


    </script>

}

